body{
  background: #11676B;
}
.App {
  text-align: center;
}
button{
  height: 40px;
  background: #B2ED67;
  border-radius: 50%;
  
}
input{
  background: #C0EA8A;
  height: 50px;
  border-radius: 50%;
}
.header{
  font-family: monospace;
  font-size: 40px;
}
.individuals{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
